* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

canvas {
    display: block;
}

#overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: 'TheGoodMonolith', sans-serif;
    text-align: center;
}