* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
}

.overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-align: left;
}

.welcomeText {
    font-size: 34px;
    margin-bottom: 20px;
}

#intro {
    font-size: 13px;
}

.Links {
    margin-top: 20px;      
    text-align: center;     
    font-size: 11px;       
    font-family:monospace;
}
.Links::before,
.Links::after {
    content: "+----------------------------------------------------------------------+";
    display: block;
    text-align: left;
    margin: 2px 0;
    color: #535853;
}
.redirects {
    display: block;
    text-align: left;
    color: #008800;
    text-decoration: none;
    position: relative;
    margin-top: 20 px;
}
.redirects::before {
    content: ":-[ ";
}

.redirects::after {
    content: " )";
}

.redirects:hover {
    background-color:greenyellow;
}
.redirect {
    color: #ff0088;
}

 #passwordSection {
            margin-top: 10px;
            text-align: center;
        }

        #passwordField {
            padding: 5px;
            font-size: 12px;
        }

        #submitBtn {
            padding: 5px 9px;
            font-size: 12px;
            cursor: pointer;
            margin-left: 5px;
        }

        #hiddenContent {
            display: none;
            margin-top: 15px;
            color: #00ff00;
            font-weight: bold;
            font-size: 14px;
        }
        .hiddenImage {
            width: 150px;       
            height: auto;      
            display: block;      
            margin: 10px auto;  
        }
        .instagramHandle {
            color: #ff0088;      
            font-size: 18px;   
            font-weight: bold;
            font-style: oblique;  
            margin-left: 5px;
        }